<br /><br />
<form method="post">
  <div>
    <label for="title"><strong>Title</strong></label> <br />
    <input type="text" name="title" id="title" maxlength="100" size="50" />
  </div>
  <div>
    <label for="content"><strong>Content</strong></label> <br />
    <textarea maxlength="256" name="content" id="content" cols="60" rows="5"></textarea>
  </div>
  <div>
    <input type="submit" value="Save Post" />
  </div>
</form>
